@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-medium.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-medium.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/gilroy-medium.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/gilroy-medium.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/gilroy-medium.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/gilroy-medium.svg#gilroy-medium")
      format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-regular.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-regular.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/gilroy-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/gilroy-regular.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/gilroy-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/gilroy-regular.svg#gilroy-regular")
      format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Noto Serif";
  src: url("NotoSerif-Bold.woff2") format("woff2"),
    url("NotoSerif-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --brand-color: #333333;
  --white-color: #fff;
  --focus-color: var(--brand-color);
}
/* GLOBAL */
html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  background-color: var(--white-color);
  color: var(--brand-color);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 45px;
  padding-right: 45px;
  margin-left: auto;
  margin-right: auto;
}

*:focus {
  outline: 2px dashed var(--focus-color);
  outline-offset: 3px;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-content {
  flex-grow: 1;
}

.header-hero-wrapper {
  --focus-color: var(--white-color);
  padding-top: 25px;
  padding-bottom: 30px;
  background-image: url("../img/bg-ring.jpg");
  background-position: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.sitenav {
}

.sitenav-lists {
  display: flex;
  align-items: center;
}

.sitenav-item:not(:last-child) {
  margin-right: 40px;
}

.link-text {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--white-color);
  white-space: nowrap;
}

.link-text:hover {
  color: bisque;
}

.link-text:active {
  opacity: 0.6;
}

.logo-link {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.logo-link:hover .logo-img {
  color: bisque;
}

.logo-link:avtive {
  opacity: 0.6;
}

.logo-img {
  display: inline-block;
  width: 216px;
  height: 52px;
  object-fit: cover;
  flex-shrink: 0;
  color: var(--white-color);
}

.header-form {
  display: flex;
  align-items: center;
}

.global-search {
  width: 95px;
  padding-left: 37px;
  background-color: transparent;
  border: none;
  background-image: url("../img/icons_search.svg");
  background-repeat: no-repeat;
  background-position: 5px center;
  margin-right: 40px;
}

.global-search:focus {
  width: 250px;
}

.sign-up {
  border: none;
  margin-right: 40px;
}

.sign-in {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../img/mdi_account.svg");
  margin-right: 25px;
}

.like-button {
  display: inline-block;
  border: none;
  background-color: transparent;
}

.header-heart {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: transparent;
  background-image: url("../img/topcoat_like.svg");
}

.site-hero {
  padding-top: 500px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-header {
  font-family: "Noto Serif", "Arial", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: var(--white-color);
}

.button {
  background: var(--brand-color);
  border: 1px solid var(--white-color);
  padding: 15px 35px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white-color);
  white-space: nowrap;
}

.button:hover {
  background-color: var(--white-color);
  color: var(--brand-color);
}

.button:active {
  opacity: 0.6;
}

.hero-footer {
  padding-top: 30px;
  border-top: 1px solid #ffffff;
}

.brands-list {
  display: flex;
  align-items: center;
}

.brands-item:not(:last-child) {
  padding-right: 15px;
  border-right: 1px solid var(--white-color);
  margin-right: 15px;
}

.brands-link {
  display: inline-block;
}

.brand-coco-img {
  display: inline-block;
  width: 160px;
  height: 60px;
  object-fit: cover;
}

.promo-container {
  padding-top: 100px;
  padding-bottom: 120px;
}

.promo-header {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 21px;
  text-align: center;
}

.promo-heading {
  margin-top: 0;
  margin-bottom: 60px;
  font-family: "Noto Serif", "Arial", sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
}

.promo-list {
  display: flex;
  align-items: center;
  margin-bottom: 61px;
}

.promo-item {
  padding-top: 17px;
  padding-bottom: 17px;
  width: 165px;
  text-align: center;
  border: 1px solid #d6d6d6;
  box-shadow: #f9f9f9 6px 6px 0px -1px, #d6d6d6 6px 6px;
}

.promo-item:not(:last-child) {
  margin-right: 24px;
}

.promo-item:hover {
  height: 66px;
  background-color: var(--brand-color);
  box-shadow: none;
}

.promo-item:hover .promo-link {
  color: var(--white-color);
}

.promo-link {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--brand-color);
}

.promo-content-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.promo-content-item {
  margin-left: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo-content-item:hover {
  opacity: 0.6;
}

.promo-content-item:active {
  opacity: 0.4;
}

.promo-content-item:nth-child(1) {
  background-image: url("../img/ring.jpg");
}
.promo-content-item:nth-child(2) {
  background-image: url("../img/earnings.jpg");
}
.promo-content-item:nth-child(3) {
  background-image: url("../img/pendants.jpg");
}
.promo-content-item:nth-child(4) {
  background-image: url("../img/cufflinks.jpg");
}
.promo-content-item:nth-child(5) {
  background-image: url("../img/bracelet.jpg");
}
.promo-content-item:nth-child(6) {
  background-image: url("../img/oclock.jpg");
}

.promo-content-link {
  width: 350px;
  padding-top: 222px;
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white-color);
}

.our-salon {
  background-image: url("../img/bg-black.png");
  padding-top: 100px;
  padding-bottom: 100px;
}

.our-salon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white-color);
}

.our-salon-blog-header {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 21px;
  text-align: center;
}

.our-salon-blog-heading {
  margin-top: 0;
  margin-bottom: 45px;
  font-family: "Noto Serif", "Arial", sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
}

.our-salon-text {
  margin-top: 0;
  margin-bottom: 60px;
  max-width: 730px;
}

.blog {
  padding-top: 120px;
  padding-bottom: 120px;
}

.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-lists {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.blog-item {
  margin-left: 30px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-item:hover {
  opacity: 0.6;
}

.blog-item:active {
  opacity: 0.4;
}

.blog-item:nth-child(1) {
  background-image: url("../img/hands-ring-braslet.jpg");
}
.blog-item:nth-child(2) {
  background-image: url("../img/corona.jpg");
}
.blog-item:nth-child(3) {
  background-image: url("../img/phone-earings.jpg");
}

.blog-link {
  width: 350px;
  padding-top: 248px;
  padding-bottom: 35px;
  font-weight: 400;
  font-size: 21px;
  text-align: center;
  color: var(--white-color);
}

.galery {
}
.galery-container {
  padding-bottom: 150px;
}

.galery-lists {
  display: flex;
  flex-wrap: wrap;
}

.galery-item-play {
  background-repeat: no-repeat;
  background-size: cover;
}

.galery-item-play:first-child {
  background-image: url("../img/rings-neckles.jpg");
}
.galery-item-play:last-child {
  background-image: url("../img/hand-with-ring.jpg");
}

.galery-link-play {
  width: 70px;
  height: 70px;
  padding: 115px 242px;
  object-fit: cover;
}

.galery-item {
}

.galery-link {
  display: block;
}

.galery-link-img {
  display: block;
  object-fit: cover;
  width: 278px;
  height: 300px;
}

.subscribe-form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.subscribe-content {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}

.subscribe-text::before {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url("../img/subscribe__icon.svg");
  background-size: cover;
  margin-right: 20px;
  content: "";
}

.subscribe-text:not(:last-child) {
  margin-bottom: 15px;
}

.form-subscribe {
  padding: 15px;
  border: 1px solid var(--white-color);
}

.subscribe-form-content {
  padding: 20px 22px;
  background-color: var(--white-color);
}

.subscribe-input-email {
  background-color: var(--white-color);
  min-width: 200px;
  padding: 15px 20px;
  border: 1px solid #d6d6d6;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.5);
  margin-right: 15px;
}

.site-footer {
  padding-top: 80px;
  padding-bottom: 20px;
}
.footer-container {
}

.footer-top {
  padding-bottom: 60px;
  border-bottom: 1px solid var(--brand-color);
  display: flex;
}

.footer-content {
  width: 255px;
}

.footer-content :not(:last-child) {
  margin-right: 30px;
}
.footer-header {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 500;
  border: none;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--brand-color);
}

.footer-lists {
}
.footer-item:not(:last-child) {
  margin-bottom: 15px;
}

.footer-link {
}
.footer-text {
  margin 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: var(--brand-color);
}

.footer-payment-link {
  display: inline-block;
}

.footer-payment-link :not(:last-child) {
  margin-right: 20px;
}

.footer-payment-img {
  width: 45px;
  height: 30px;
  display: block;
  object-fit: cover;
}

.footer-contact-item:not(:last-child){
  margin-bottom: 15px;
}

.footer-contact-item::before{
  display: inline-block;
  margin-right: 20px;
width: 20px;
height: 20px;
content: "";
background-image: url("../img/entypo_old-phone.svg");
}

.footer-contact-item:last-child::before{
background-image: url("../img/entypo_mail.svg");
}



.social-link {
  display: inline-block;
}

.social-link:not(:last-child){
  margin-right: 20px;
}

.social-img {
  width: 25px;
  height: 25px;
  display: block;
  object-fit: contain;
}

.footer-bottom-list {
  padding-top: 20px;
  display: flex;
}
.footer-bottom-item:not(:last-child){
  margin-right: 185px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .header-hero-wrapper {
    background-image: url("../img/bg-ring@2x.jpg");
  }

  .promo-content-item:nth-child(1) {
    background-image: url("../img/ring@2x.jpg");
  }

  .promo-content-item:nth-child(2) {
    background-image: url("../img/earnings@2x.jpg");
  }

  .promo-content-item:nth-child(3) {
    background-image: url("../img/pendants@2x.jpg");
  }

  .promo-content-item:nth-child(4) {
    background-image: url("../img/cufflinks@2x.jpg");
  }

  .promo-content-item:nth-child(5) {
    background-image: url("../img/bracelet@2x.jpg");
  }

  .promo-content-item:nth-child(6) {
    background-image: url("../img/oclock@2x.jpg");
  }

  .blog-item:nth-child(1) {
    background-image: url("../img/hands-ring-braslet@2x.jpg");
  }

  .blog-item:nth-child(2) {
    background-image: url("../img/corona@2x.jpg");
  }

  .blog-item:nth-child(3) {
    background-image: url("../img/phone-earings@2x.jpg");
  }

  .galery-item-play:first-child {
    background-image: url("../img/rings-neckles@2x.jpg");
  }

  .galery-item-play:last-child {
    background-image: url("../img/hand-with-ring@2x.jpg");
  }
}
